H2 {
    text-align: center;
}

#welcome {
    text-align: center;
    margin-bottom: 50px;
}

#card_style {
    display: gird;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    text-align: center;
}

.card_title {
    font-size: 25px;
}

.card_img {
    width: 65%;
}